* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}

h2 {
    font-size: 24px;
}

.main-container section {
    width: 48%;
}

article p {
    margin-top: 15px;
}

.carousel {
    border: 2px solid #999999;
    border-radius: 15px;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height: 85%;
}

#slide01:hover,
#slide02:hover,
#slide03:hover {
    cursor: pointer;
}

.carousel div img {
    height: 150px;
    margin: 15px 0 15px 0;
}

.carousel a {
    all: unset;
}

h3 {
    width: 100%;
    text-align: center;
    margin: 15px 0px 15px 0px;
    padding: 0 10px 0 10px;
}

#slide03 img {
    border-radius: 10px;
}

.slide-visible {
    visibility: visible;
}

.slide-hidden {
    display: none;
}

.hr-carousel {
    margin: auto;
    width: 85%;
    color: #999999;
    margin-bottom: 5px;
}

.dots {
    color: #999999;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.dots li {
    all: unset;
    width: 20px;
    height: 20px;
    background-color: #FCFCFC;
    margin: 10px;
    border: 2px solid #999999;
    border-radius: 5px;
    transition: 1s;
}

.dots li:hover {
    cursor: pointer;
}

.dots li.active-slide {
    width: 40px;
    border-color:#333333;
}

.carousel-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.carousel-nav button {
    all: unset;
}

.carousel-nav button img {
    all: unset;
    height: 20px;
}

.carousel-nav button:hover {
    cursor: pointer;
}


@media screen and (max-width: 1050px) {

    .main-container {
        margin-top: 140px;
        flex-direction: column-reverse;
    }
    
    .main-container section {
        width: 100%;
    }

    h2 {
        margin-top: 20px;
    }
}